dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
/.project
/.dist-buildwrapper
*.swp
.stack-work/
.idea/
.vscode/
*.lock
.cabal-sandbox/
.ghc.*
cabal.project.local*
packages/hackage.haskell.org
dist-newstyle/**
linkertool/
simplelinker/
linkerserver/
**/.*.sw?
musl/
